## Machine Learning Lab-4: Exploratory Data Analysis (100 marks)

In [1]:
# Run this cell to install the needed dependencies

!pip install pycountry

Requirement already satisfied: pycountry in /Users/foxgrape/anaconda3/lib/python3.8/site-packages (20.7.3)

In [6]:
#This dataset contain information of hotel booking, We have performed exploratory data analysis in python to get insight 
#from the data.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pycountry as pc
import matplotlib.ticker as mtick

pd.options.display.max_columns = None

### Import and Display the first 5 rows of the dataset (5 marks)

(You can download the dataset from Canvas. Make sure to keep the dataset in the same folder where you store this assignment file, otherwise you may get errors)

Hint: Use read_csv() to read a csv file in python

In [9]:
# Enter your code here
##df = pd.read_csv('hotel_bookings.csv')
df = pd.read_csv("hotel_bookings.csv", nrows=5)
print(df)

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  children  babies  \
0                        0                     0       2         0       0
1                        0                     0       2         0       0
2                        0                     1       1         0       0
3                        0                     1       1         0       0
4                        0                     2       2         0       0

  meal country market_segment distribution_channel  is_repeated_guest  \
0   BB     PRT         Direct               Direct                  0
1   BB     PRT         Direct               Direct                  0
2   BB     GBR         Direct               Direct                  0
3   BB     GBR      Corporate            Corporate                  0
4   BB     GBR      Online TA                TA/TO                  0

   previous_cancellations  previous_bookings_not_canceled reserved_room_type  \
0                       0                               0                  C
1                       0                               0                  C
2                       0                               0                  A
3                       0                               0                  A
4                       0                               0                  A

  assigned_room_type  booking_changes deposit_type  agent  company  \
0                  C                3   No Deposit    NaN      NaN
1                  C                4   No Deposit    NaN      NaN
2                  C                0   No Deposit    NaN      NaN
3                  A                0   No Deposit  304.0      NaN
4                  A                0   No Deposit  240.0      NaN

   days_in_waiting_list customer_type  adr  required_car_parking_spaces  \
0                     0     Transient    0                            0
1                     0     Transient    0                            0
2                     0     Transient   75                            0
3                     0     Transient   75                            0
4                     0     Transient   98                            0

   total_of_special_requests reservation_status reservation_status_date
0                          0          Check-Out              2015-07-01
1                          0          Check-Out              2015-07-01
2                          0          Check-Out              2015-07-02
3                          0          Check-Out              2015-07-02
4                          1          Check-Out              2015-07-03

### Data Preprocessing (10 marks)

**Make a new dataframe which is a copy of the dataset so that our original dataset remains unchanged (1 mark)**

In [10]:
# Enter your code here
##df = pd.read_csv('hotel_bookings.csv')
df_copy = pd.read_csv("hotel_bookings.csv", nrows=5)
print(df_copy)

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  children  babies  \
0                        0                     0       2         0       0
1                        0                     0       2         0       0
2                        0                     1       1         0       0
3                        0                     1       1         0       0
4                        0                     2       2         0       0

  meal country market_segment distribution_channel  is_repeated_guest  \
0   BB     PRT         Direct               Direct                  0
1   BB     PRT         Direct               Direct                  0
2   BB     GBR         Direct               Direct                  0
3   BB     GBR      Corporate            Corporate                  0
4   BB     GBR      Online TA                TA/TO                  0

   previous_cancellations  previous_bookings_not_canceled reserved_room_type  \
0                       0                               0                  C
1                       0                               0                  C
2                       0                               0                  A
3                       0                               0                  A
4                       0                               0                  A

  assigned_room_type  booking_changes deposit_type  agent  company  \
0                  C                3   No Deposit    NaN      NaN
1                  C                4   No Deposit    NaN      NaN
2                  C                0   No Deposit    NaN      NaN
3                  A                0   No Deposit  304.0      NaN
4                  A                0   No Deposit  240.0      NaN

   days_in_waiting_list customer_type  adr  required_car_parking_spaces  \
0                     0     Transient    0                            0
1                     0     Transient    0                            0
2                     0     Transient   75                            0
3                     0     Transient   75                            0
4                     0     Transient   98                            0

   total_of_special_requests reservation_status reservation_status_date
0                          0          Check-Out              2015-07-01
1                          0          Check-Out              2015-07-01
2                          0          Check-Out              2015-07-02
3                          0          Check-Out              2015-07-02
4                          1          Check-Out              2015-07-03

**(From now on, you will be using the new dataframe which you created in the previous cell for the rest of the assignment)**

**Find the size of the dataframe (1 mark)**

In [13]:
# Enter your code here
print(df_copy.info) ##displays information
print(df_copy.size) ##displays size

<bound method DataFrame.info of           hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  children  babies  \
0                        0                     0       2         0       0
1                        0                     0       2         0       0
2                        0                     1       1         0       0
3                        0                     1       1         0       0
4                        0                     2       2         0       0

  meal country market_segment distribution_channel  is_repeated_guest  \
0   BB     PRT         Direct               Direct                  0
1   BB     PRT         Direct               Direct                  0
2   BB     GBR         Direct               Direct                  0
3   BB     GBR      Corporate            Corporate                  0
4   BB     GBR      Online TA                TA/TO                  0

   previous_cancellations  previous_bookings_not_canceled reserved_room_type  \
0                       0                               0                  C
1                       0                               0                  C
2                       0                               0                  A
3                       0                               0                  A
4                       0                               0                  A

  assigned_room_type  booking_changes deposit_type  agent  company  \
0                  C                3   No Deposit    NaN      NaN
1                  C                4   No Deposit    NaN      NaN
2                  C                0   No Deposit    NaN      NaN
3                  A                0   No Deposit  304.0      NaN
4                  A                0   No Deposit  240.0      NaN

   days_in_waiting_list customer_type  adr  required_car_parking_spaces  \
0                     0     Transient    0                            0
1                     0     Transient    0                            0
2                     0     Transient   75                            0
3                     0     Transient   75                            0
4                     0     Transient   98                            0

   total_of_special_requests reservation_status reservation_status_date
0                          0          Check-Out              2015-07-01
1                          0          Check-Out              2015-07-01
2                          0          Check-Out              2015-07-02
3                          0          Check-Out              2015-07-02
4                          1          Check-Out              2015-07-03  >
160

**Check if our data contains any missing  values (2 marks)**

In [15]:
## Find the missing value, show the total null values for each column and sort it in descending order

df_copy.isnull()
##df_copy.notnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True

We can see that company, agent, country and children contain missing values

In [18]:
## For the missing values in company and agent, just replace them with 0

df[['agent','company']] = df[['agent','company']].fillna(0.0)

In [ ]:
## For the missing values in the country column, replace it with mode (value that appears most often)

df['country'].fillna(data.country.mode().to_string(), inplace=True)

In [137]:
## For missing children value, replace it with rounded mean value

df['children'].fillna(round(data.children.mean()), inplace=True)

**Check if there are any rows with zero guests (No adults, children or babies)**

In [138]:
df[(df.adults+df.babies+df.children)==0].shape

(180, 32)

In [139]:
df = df.drop(df[(df.adults+df.babies+df.children)==0].index)

**Find the new size of the dataframe after preprocessing (1 mark)**

In [140]:
# Enter your code here
df.size

(119210, 32)

**Checking the datatypes of each columns in the dataset (2 marks)**

In [141]:
# Enter your code here
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

**Convert the datatypes into integers as some are declared floats but uses only integers**

In [19]:
## convert datatype of these columns from float to integer
df[['children', 'company', 'agent']] = df[['children', 'company', 'agent']].astype('int64')

**Check the datatypes one more time to see if the conversion has worked or not (2 marks)**

In [143]:
# Enter your code here
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
company                             int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

### Perform Exploratory Data Analysis (45 marks)

**Answer the following questions using the following functions. The answers for these questions are not present in the reference file. You need to do this yourself**

In [20]:
#This function gives the precentage of different values

def get_count(series, limit=None):  
    
    '''
    INPUT:
        series: Pandas Series (Single Column from DataFrame)
        limit:  If value given, limit the output value to first limit samples.
    OUTPUT:
        x = Unique values
        y = Count of unique values
    '''
    
    if limit != None:
        series = series.value_counts()[:limit]
    else:
        series = series.value_counts()
    
    x = series.index
    y = series/series.sum()*100
    
    return x.values,y.values

In [21]:
def plot(x, y, x_label=None,y_label=None, title=None, figsize=(7,5), type='bar'):
    
    '''
    INPUT:
        x:        Array containing values for x-axis
        y:        Array containing values for y-axis
        x_lable:  String value for x-axis label
        y_lable:  String value for y-axis label
        title:    String value for plot title
        figsize:  tuple value, for figure size
        type:     type of plot (default is bar plot)
        
    OUTPUT:
        Display the plot
    '''
    
    sns.set_style('darkgrid')
    
    fig, ax = plt.subplots(figsize=figsize)
    
    ax.yaxis.set_major_formatter(mtick.PercentFormatter())
    
    if x_label != None:
        ax.set_xlabel(x_label)
    
    if y_label != None:
        ax.set_ylabel(y_label)
        
    if title != None:
        ax.set_title(title)
    
    if type == 'bar':
        sns.barplot(x,y, ax = ax)
    elif type == 'line':
        sns.lineplot(x,y, ax = ax, sort=False)
        
    
    plt.show()

**Question-1 What is the booking ratio between resort hotel and city hotel? (15 marks) (5 marks for the code, 5 marks for the graph and 5 marks for the analysis)**

**Question-2 What is the percentage of booking for each year? (15 marks) (5 marks for the code, 5 marks for the graph and 5 marks for the analysis)**

**Question-3 How many bookings were cancelled? (15 marks) (5 marks for the code, 5 marks for the graph and 5 marks for the analysis)**

Hint: Pass the appropriate dataframe columns to the get_count() function, pass the output of get_count() to plot() function, to generate the plots. Analyze these plots to answer the questions

In [38]:


# Enter your code for question-1 here

In [2]:


# Enter your analysis here

In [39]:


# Enter your code for question-2 here

In [3]:


# Enter your analysis here

In [40]:


# Enter your code for question-3 here

In [4]:


# Enter your analysis here

### Feature Selection (20 marks)

**Remove the unwanted features (10 marks)**

Use drop() to drop the unwanted features. You previously used drop() to drop some rows, but now we need to drop some columns. Make sure to keep the correct code to get marks.

The unwanted features in this dataset are:

arrival_date_year, arrival_date_week_number, arrival_date_day_of_month, arrival_date_month, assigned_room_type, reserved_room_type, reservation_status_date, previous_cancellations, previous_bookings_not_canceled, reservation_status

Also pass axis=1

In [146]:


df.drop(['arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'arrival_date_month', 'assigned_room_type', 'reserved_room_type', 'reservation_status_date', 'previous_cancellations', 'previous_bookings_not_canceled', 'reservation_status'], axis = 1)

**Find the categorical values and remove them as well from the dataset (10 marks)**

In [147]:
# Find the categorical features
cf = pd.Categorical(['hotel', 'meal', 'country', 'market_segment',
                     'distribution_channel', 'deposit_type', 'customer_type'])

In [148]:
# Print the categorical features here
print (cf)

['hotel',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'deposit_type',
 'customer_type']

Drop these columns as well since they contain categorical values and may hinder in training and testing the model

In [149]:
# Enter your code here
df.drop(['hotel', 'meal', 'country', 'market_segment', 'distribution_channel', 'deposit_type', 'customer_type'], axis = 1)

In [150]:
# Print the dataframe one more time to check if these columns still exist in the dataframe
print(df)

,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,0,342,0,0,2,0,0,0,3,0,0,0,0.00,0,0
1,0,737,0,0,2,0,0,0,4,0,0,0,0.00,0,0
2,0,7,0,1,1,0,0,0,0,0,0,0,75.00,0,0
3,0,13,0,1,1,0,0,0,0,304,0,0,75.00,0,0
4,0,14,0,2,2,0,0,0,0,240,0,0,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2,5,2,0,0,0,0,394,0,0,96.14,0,0
119386,0,102,2,5,3,0,0,0,0,9,0,0,225.43,0,2
119387,0,34,2,5,2,0,0,0,0,9,0,0,157.71,0,4
119388,0,109,2,5,2,0,0,0,0,89,0,0,104.40,0,0
119389,0,205,2,7,2,0,0,0,0,9,0,0,151.20,0,2

### Create decision tree models for both regression and classification (20 marks)

**Train and test the data. Use 'is_cancelled' as the target. Use training to testing ratio as 3:1 (4 marks)**

In [151]:
# Define X and Y values for the train_test_split here

In [152]:
# Use train_test_split here

**Use decision tree model (regression) to test the data (4 marks)**

In [153]:


# Enter your code here

Accuracy: 0.8081065664530417

**Predict the value of the 45th record in x_train (4 marks)**

In [154]:


# Enter your code here

Predicted Value 	: 1
Actual Value		: 1

**Use decision tree model (classification) to test the data (4 marks)**

In [155]:


# Enter your code here

Accuracy: 0.1943736012898598

**Predict the value of the 75th record in x_train (4 marks)**

In [156]:


# Enter your code here

Predicted Value 	: 1.0
Actual Value		: 1